<div class="row">
<a href="{{ url('homepage') }}">
    <img src="{{ asset('bundles/pumukitup2uprwebtv/images/up2u-logo.png') }}" class="img-responsive" style="display: inline; height: 100%; max-height: 70px;" alt="{% trans %}Logo{% endtrans %}"/>
    <img src="{{ asset('bundles/pumukitup2uprwebtv/images/logo.jpg') }}" class="img-responsive" style="display: inline; height: 100%; max-height: 75px; margin-left: 14px;" alt="{% trans %}Logo{% endtrans %}"/>
</a>
</div>
