<div class="row" style="height: 100%;">
    <a href="https://learn.up2university.eu" target="_blank" class="element">
        <img src="{{ asset('bundles/pumukitup2uprwebtv/images/up2u-logo.png') }}" class="img-responsive" style="display: inline; height: 100%; max-height: 70px;" alt="{% trans %}Logo{% endtrans %}" usemap="#up2u-href" />
    </a>
    <a href="{{ url('homepage') }}">
        <img src="{{ asset('bundles/pumukitup2uprwebtv/images/logo.jpg') }}" class="img-responsive" style="display: inline; height: 100%; max-height: 75px; margin-left: 14px;" alt="{% trans %}Logo{% endtrans %}"/>
    </a>
</div>
